<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/chat.css">
    <title>Chat-club_informatique</title>
</head>
<body>
    <div class="toggle">
        <i class="fa-solid fa-bars ouvrir"></i>
        <i class="fa-solid fa-xmark fermer"></i>
    </div>
<div class="container">
   
        <div class="d1" id="d1">
            <div class="container-utilisateur">
                <ul class="utilisateur">
                    <select name="receiver" id="options">
                        <option value="A tous">A tous </option>
                        <% users.forEach(use => { %>
                            <option value="<%= use.username %>"><%= use.username %></option>
                        <% }) %>                    
                        
                    </select>
                            <% users.forEach(use => { %>
                                <% if (use.username == user.username ) { %>
                                    <li class="usr" id="me">
                                        <span id="username"><%= use.username %></span>
                                        <span class="rond-enligne connecter"></span>
                                    </li>
                                <% } %>
                                <li class="usr" >
                                    <span id="autreUser"><%= use.username %></span>
                                    <span class="rond-enligne"></span>
                                </li>    
                            <% }) %>                    
                </ul>
               
            </div>
        </div>
       
    <div class="d2">
        
        <div class="container-1">
                <div class="bande-1">
                    <div class="block-1"></div>
                        <div class="block-1-information">
                            <ul class="nom-club">CLUB_INFO-CHAT</ul>
                            <ul id="nonAutre"><span id="ecrire"></span> </ul>
                        </div>
                </div>

                    <div id="corps-discution"> 
            
                    </div>
            
                    <div class="bande-2">
                            <form id="form">
                                <div id="input-div">
                                    <input type="text" id="message" placeholder="message..." autofocus autocomplete="off" onkeypress="writting()" onblur="noWritting()">
                                </div>
                                <button type="submit" class="icon-send">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </form>
                    </div>

        </div>

            <div class="d3">
                <a href="/connexion"> <button type="submit">Deconnexion</button> </a>
                <div id="info"></div>
            </div>
    </div>
       
</div>

    <canvas id="canvas1"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/particule.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>

    <!--<script src="./socket.js"></script> -->
</body> 
</html>