<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/chat.css">
    <title>Chat-club_informatique</title>
</head>
<body>
<div class="container">

        <div class="d1">
            <div class="container-utilisateur">
                <ul class="utilisateur">
                    <!-- <li class="usr" id="me">
                        <span id="sp1"></span>
                        <span id="username"></span>
                        <span class="rond-enligne connecter"></span>
                    </li> -->
                    <!-- je parcours la base de donnée et j'affiche tout les utilisateurs de la base de donnée" -->
                 
                            <% users.forEach(use => { %>

                                <% if (use.username == user.username ) { %>
                                    <li class="usr" id="me">
                                        <span id="sp1"></span>
                                        <span id="username"><%= use.username %></span>
                                        <span class="rond-enligne connecter"></span>
                                    </li>
                                <% } %>
                                <li class="usr">
                                    <span id="autreUser"><%= use.username %> </span>
                                    <span class="rond-enligne deconnecter "></span>
                                </li>
                                
                            <% }) %>
                            
       
                    
                </ul>
            </div>
        </div>
       
    <div class="d2">
        <div class="container-1">
                <div class="bande-1">
                    <div class="block-1"></div>
                        <div class="block-1-information">
                            <ul class="nom-club">CLUB_INFO-CHAT</ul>
                            <ul id="nonAutre"><span id="ecrire"></span> </ul>
                        </div>
                </div>

                    <div id="corps-discution"> 
            
                    </div>
            
                    <div class="bande-2">
                            <form id="form">
                                <div id="input-div">
                                    <input type="text" id="message" placeholder="message..." autofocus autocomplete="off" onkeypress="writting()" onblur="noWritting()">
                                </div>
                                <button type="submit" class="icon-send">
                                    <i class="bi bi-send-fiulll"></i>
                                </button>
                            </form>
                    </div>

        </div>
            <div class="d3">
                <div id="info"></div>
                <div class="salon">

                </div>
                <a href="/connexion"> <button type="submit">Deconnexion</button> </a>
            </div>
    </div>
       
</div>

    <canvas id="canvas1"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/particule.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>

    <!--<script src="./socket.js"></script> -->
</body> 
</html>