<%- include('standart.ejs') %> 
<h1>INSCRIPTION</h1>
<form id="form-inscription" action="/inscription" method="post"  autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Nom</label>
      <input type="text" class="form-control" id="exampleInputName1" name="username" autocomplete="off">
    </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" autocomplete="off" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary" id="btn" >Inscription</button>
      <a href="/connexion">Connexion</a>
      <!-- <button id="btn-connexion"></button> -->
  </form>

<!-- <script type="module" src="../chat/socket.js"></script> -->
<!-- <script src="../chat/client.js"></script> -->
<script src="/js/home.js"></script>
<script src="/js/background.js"></script>

</body>
</html>